@import '../../styles.scss';

.rightbar{
    @include themify($themes){
    flex: 3;
    position: sticky;
    top: 50.67px;
    height: calc(100vh - 50.67px);
    overflow: auto;
    background-color: themed("bgSoft");
    &::-webkit-scrollbar{
        display: none;
    }

    @include mobile{
        display: none;
    }

    @include tablet{
        display: none;
    }
    .container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item{
            display: flex;
            flex-direction: column;
            gap:10px;
            padding: 20px;
            -webkit-box-shadow: -6px 10px 21px -21px rgba(0,0,0,0.69);
            -moz-box-shadow: -6px 10px 21px -21px rgba(0,0,0,0.69);
            box-shadow: -6px 10px 21px -21px rgba(0,0,0,0.69);
            color: themed("textColor");
            background-color: themed("bg");
            span{
                color: theme("textColor");
            }
            .title{
                color: themed("textColorSoft");
            }
            .user{
                display: flex;
                align-items: center; 
                justify-content: space-between;
                .userinfo{
                    display: flex;
                    align-items: center;  
                    gap: 20px; 
                    position: relative;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50px;
                        object-fit: cover;
                        flex-shrink: 0;
                    }
                    .online{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position: absolute;
                        top: 0;
                        left: 20px;
                    }
                .desc{
                    display: flex;
                    gap: 1px;
                }
                    
                }
                p{
                    font-size: smaller;
                    color: themed("textColorSoft");
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    button{
                        border: none;
                        padding: 5px 10px;
                        border-radius: 5px;
                        cursor: pointer;

                        &:first-child{
                            background-color: rgb(141, 113, 169);
                            color: white;
                        }

                        &:last-child{
                            background-color: rgba(233, 15, 15,0.8);
                            color: white;
                        }
                    }


                }
            }
        }
    }
}
}